/Hehegar/Estuctura de Datos/05-TDA-Esfera/TDA-Esfera/nbproject/private/
/Hehegar/Estuctura de Datos/05-TDA-Esfera/TDA-Esfera/build/
/Hehegar/Estuctura de Datos/06-Memoria estática/TDA06/nbproject/private/
/Hehegar/Estuctura de Datos/06-Memoria estática/TDAMemoriaEstatica/nbproject/private/
/Hehegar/Estuctura de Datos/06-Memoria estática/TDAMemoriaEstatica/build/
/Hehegar/Estuctura de Datos/07-Memoria Dinámica/MemoDinamica/nbproject/private/
/Hehegar/Estuctura de Datos/08-Recursividad/08-Recursividad/nbproject/private/
/Hehegar/Estuctura de Datos/09-Factorial/09-Factorial/nbproject/private/
/Hehegar/Estuctura de Datos/09-Factorial/09-Factorial/build/
/Hehegar/Estuctura de Datos/10-Fibonacci/10-Fibonacci/nbproject/private/
/Hehegar/Estuctura de Datos/10-Fibonacci/10-Fibonacci/build/
/Hehegar/Estuctura de Datos/11-Torres de Hanoi/12-TorresHanoi/nbproject/private/
/Hehegar/Estuctura de Datos/12-Torres de Hanoi/12-TorresHanoi/nbproject/private/
/Hehegar/Estuctura de Datos/10-Factorial/09-Factorial/build/
/Hehegar/Estuctura de Datos/10-Factorial/09-Factorial/nbproject/private/
/Hehegar/Estuctura de Datos/12-Torres de Hanoi/12-TorresHanoi/build/
/Hehegar/Estuctura de Datos/16-Listas Simplemente Enlazadas/15-ListasSimEnlazadas/nbproject/private/
/Hehegar/Estuctura de Datos/16-Listas Simplemente Enlazadas/15-ListasSimEnlazadas/build/
/Hehegar/Estuctura de Datos/21-ListasDoblementeEnlazadas/LisDobEnl/nbproject/private/
/Hehegar/Estuctura de Datos/23-ListasCirculares/ListasCirculares/nbproject/private/
/Hehegar/Estuctura de Datos/26-PilasEstaticas/Pilas/nbproject/private/
/Hehegar/Estuctura de Datos/26-PilasEstaticas/Pilas/build/
/Hehegar/Estuctura de Datos/27-PilasDinamicas/27-PilasDinamicas/nbproject/private/
/Hehegar/Estuctura de Datos/28-Colas/Colas/nbproject/private/
/Hehegar/Estuctura de Datos/29-Linkedlist/Linkedlist/nbproject/private/
/Hehegar/Estuctura de Datos/30-PilasStack/PilasStack/nbproject/private/
/Hehegar/Estuctura de Datos/31-ColasQueue/ColasQueue/nbproject/private/
